apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  cors_origins: {{ .Values.config.corsOrigins | quote }}
  port: {{ .Values.config.port | quote }}
  next_public_backend_url: {{ .Values.config.nextPublicBackendUrl | quote }}
  next_public_api_base_url: {{ .Values.config.nextPublicApiBaseUrl | quote }}